.button,.button1{
	width: 50px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
	cursor: pointer;
	color: #fff;
	background: transparent;
}
.calc{
	background:linear-gradient(to right,# #5A2555,#BE8CE5 );
}
.textview{
	width: 275px;
	margin: 5px;
	height: 50px;
	font-size: 25px;
	background: transparent;
}
.main{
	position: absolute;
	top: 50%;
	left: 50%;
	background: transparent;
	transform: translate(-50%) translateY(-50%);
}
body{
	background: transparent;
	 background:linear-gradient(to left ,#46B5D1,#C70D3A) ;
	/* background: linear-gradient(to right , #230338,#241663); */
}
.ft{
	position: absolute;
	margin-top: 50px;
	font-size: 20px;
	margin-left: 5px;
	

}
@keyframes example {
  from {font-style: italic;}
  to {font-weight: bold;}
}
@keyframes example {
	0%   {color: red;font-style: sans-serif;}
	25%  {color: yellow;}
	50%  {color: blue;}
	100% {color: rgb(0, 13, 128);}
  }
footer{
	animation-name: example;
	animation-delay: 2s;
  	animation-duration:20s;
	animation-direction: reverse;
}
